.banner1,
.banner2,
.banner3 {
    @include blockDefault();
    background-size: cover;
    .title {
        position: absolute;
        z-index: 2;
        top: $position - 5%;
        left: $position - 15%;
        width: $Twidth;
        h1 {
            @include TextDefault($delay - 1s);
            @include title_h1();
        }
        p {
            @include TextDefault($delay - 1s);
            @include title_p();
        }
        a {
            @include TextDefault($delay - 1s);
            @include title_a();
        }
        img {
            @include myAnimation(bund, 1.5s, $delay - 1s);
            width: 50%;
        }
    }
}

.banner1 {
    background: url(../img/Block1/bg.jpg) center;
    background-size: cover;
    @include animation(fadein $dur + 1s);
    &>img {
        position: absolute;
        top: 80%;
        @include LRcenter();
        @include animation($dur + 1s);
    }
}

.banner2 {
    background: url(../img/Block2/bg.jpg) center;
    background-size: cover;
    @include animation(fadein $dur);
    .title {
        color: #fff;
    }
}

.banner3 {
    background-color: #fafafa;
    .title {
        text-align: center;
        @include LRcenter();
        a {
            margin: auto;
        }
        top:10%;
    }
    .cancel {
        position: absolute;
        @include LRcenter();
        top: 50%;
        @include myAnimation(bottomIn, $dur, $delay - 1s);
    }
}
