.banner {
    position: relative;
    .firstbannerImg {
        width: 100%;
        @include animation(fadein $dur + 1s);
    }
    .bannerImg {
        width: 100%;
        @include animation(bottomIn $dur + 1s);
    }
    .title {
        position: absolute;
        z-index: 2;
        top: $position + 10%;
        left: $position - 10%;
        width: $Twidth;
        h1 {
            @include TextDefault($delay - 1s);
        }
        p {
            @include TextDefault($delay);
        }
        a {
            @include TextDefault($delay + 1s);
            display: block;
            border: 2px #aaa solid;
            padding: 15px 20px;
            text-align: center;
        }
    }
}

.floatBtn {
    position: fixed;
    bottom: $distance+5px;
    right: $distance;
    z-index: 9;
    opacity: 0;
    @include animation(bottomIn $dur forwards);
    @include animation-delay($delay+2s);
    img {
        border: 1px solid #aaa;
    }
}
