.classification {
    position: relative;
    background: url(http://placehold.it/1280x800) center repeat-x;
    background-size:cover;
    min-height: 800px;
    height:100%;
    @include animation(Slider 32s infinite linear);
    // .bg {
    //     height: 800px;
    //     @include myAnimation(LIRO, 8s, 0);
    // }
    .person {
        position: absolute;
        top: $position + 10%;
        left: $position - 10%;
        overflow: hidden;
        @include myAnimation(bottomIn, $dur + 2s, 0);
    }
    .title {
        position: absolute;
        z-index: 2;
        top: $position + 10%;
        right: $position - 10%;
        width: $Twidth;
        h1 {
            @include TextDefault($delay - 1s);
        }
        p {
            @include TextDefault($delay);
        }
        a {
            @include TextDefault($delay + 1s);
            display: block;
            border: 2px #aaa solid;
            padding: 15px 20px;
            text-align: center;
        }
    }
}