.classification {
    @include blockDefault();
    background: url(../img/Block3/bg.jpg) center repeat-x;
    background-size: cover;
    @include animation(Slider 32s infinite linear);
    .data {
        &.ng-hide{
            opacity: 0;
        }
        &.ng-hide-remove,
        &.ng-hide-add{
            display: block !important;
            transition: all linear 0.5s;
        }

        .person {
            position: absolute;
            top: $position;
            left: $position - 12%;
            overflow: hidden;
            @include myAnimation(fadein, $dur + 1s, $delay - 1s);
        }
        .title {
            position: absolute;
            z-index: 2;
            top: $position - 5%;
            right: $position - 15%;
            width: $Twidth;
            color: #fff;
            h1 {
                @include TextDefault($delay - 1s);
                @include title_h1();
            }
            p {
                @include TextDefault($delay - 1s);
                @include title_p();
            }
            a {
                @include TextDefault($delay - 1s);
                @include title_a();
            }
        }
    }
}
