@import "compass/css3/flexbox";
@include font-face("文鼎中圓", font-files("bGTR00M.ttf"));
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, "文鼎中圓", "LiHei Pro", "Meiryo", "微軟正黑體";
    height: 100%;
    width: 100%;
    background: #ddd;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

.clear {
    zoom: 1;
    clear: both;
    &:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}


/* Left */

.left {
    float: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


/* Right */

.right {
    float: right;
    @include display-flex(inline-flex);
    @include flex-direction(column);
    // @include justify-content(center);
    @include align-items(center);
}

.container {
    width: 1000px;
    margin: auto;
    padding: 0;
}

.container2 {
    width: 100%;
}

.highlight {
    color: darkred;
}

.area1_3 {
    @include display-flex();
    @include justify-content(space-around);
    text-align: flex-end;
}

.area1_2 {
    @include display-flex();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
}

.withIcon {
    position: relative;
}

.icon {
    position: absolute;
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}
