@media screen and (max-width: 768px) {
    body {
        font-size: 22px;
    }
    // 
    .banner1,
    .banner2,
    .banner3 {
        .title {
            @include LRcenter();
            @include sTitleDefault();
        }
    }
    .banner1 {
        background: url(../img/Block1/bg_m.jpg);
        background-size: cover;
        min-height: 1150px;
        &>img {
            width: 50%;
            top: 85%;
        }
        .title {
            top: $position - 10%;
        }
    }
    .banner2 {
        background: url(../img/Block2/bg_m.jpg);
        background-size: cover;
        height: 1100px;
        .title {
            top: $position;
        }
    }
    .banner3 {
        // background: url(../img/Block6/bg_m.jpg) center;
        min-height: 1150px;
        .title {
            top: $position;
        }
        .cancel {
            top: 45%;
            width: 100%;
        }
    }
    // 
    .classification {
        min-height: 1150px;
        .data {
            .person {
                @include LRcenter();
                width: 100%;
                top: $position + 20%;
                // @include animation(wPhone_bottomIn $dur + 2s forwards);
            }
            .title {
                @include LRcenter();
                top: $position - 15%;
                @include sTitleDefault();
            }
        }
    }
    //
    .wall {
        min-height: 1150px;
        .wPhone {
            // width:100%;
            @include LRcenter();
            top: $position + 25%;
            @include animation(wPhone_bottomIn $dur forwards);
        }
        .title {
            @include LRcenter();
            top: $position - 15%;
            @include sTitleDefault();
        }
    }
    //
    .dots {
        min-height: 1150px;
        background: url(../img/Block5/bg_m.jpg) center 75% no-repeat;
        .dot1,
        .dot2 {
            font-size: 1.2em;
            width:150px;
            height:150px;
        }
        .title {
            @include LRcenter();
            top: $position - 15%;
            @include sTitleDefault();
        }
    }
}
