/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/layout.scss";
@import "common.scss";
// @import "header.scss";
@import "setting.scss";
@import "banner.scss";
@import "classification.scss";
@import "wall.scss";
@import "dot.scss";
@import "footer.scss";
body {
    background-color: #fff;
    // overflow-x: hidden;
    font-size: 18px;
    font-weight: lighter;
}

h1 {
    font-size: 28px;
}

@mixin sTitleDefault() {
    width: $Twidth + 50%;
    a {
        margin: auto;
        width: 70%;
        padding: 8px 15px;
        font-size: 1em;
    }
    img {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    // 
    .banner1,
    .banner2,
    .banner3 {
        .title {
            @include LRcenter();
            @include sTitleDefault();
        }
    }
    .banner1 {
        background: url(../img/Block1/bg_m.png) center;
        &>img {
            width: 50%;
        }
        .title {
            top: $position - 10%;
        }
    }
    .banner2 {
        .title {
            top: $position;
        }
    }
    .banner3 {
        background: url(../img/Block6/bg_m.png) center;
        min-height:600px;
        .title {
            top: $position;
        }
    }
    // 
    .classification {
        .data {
            .person {
                @include LRcenter();
                width: 100%;
                top: $position + 20%;
                // @include animation(wPhone_bottomIn $dur + 2s forwards);
            }
            .title {
                @include LRcenter();
                top: $position - 15%;
                @include sTitleDefault();
            }
        }
    }
    //
    .wall {
        .wPhone {
            // width:100%;
            @include LRcenter();
            top: $position + 15%;
            @include animation(wPhone_bottomIn $dur forwards);
        }
        .title {
            @include LRcenter();
            top: $position - 15%;
            @include sTitleDefault();
        }
    }
    //
    .dots {
        background: url(../img/Block5/bg_m.png) center 75% no-repeat;
        .dot1,
        .dot2 {
            font-size: 1.2em;
        }
        .title {
            @include LRcenter();
            top: $position - 15%;
            @include sTitleDefault();
        }
    }
}

// @media screen and (max-width: 414px) {
//     //
//     .banner1,
//     .banner2,
//     .banner3 {
//         .title {
//             @include sTitleDefault();
//         }
//     }
//     .banner1 {
//         .title {
//             top: $position - 15%;
//         }
//     }
//     //
//     .classification {
//         .data {
//             .person {
//                 width: 75%;
//                 top: $position + 25%;
//             }
//             .title {
//                 @include sTitleDefault();
//             }
//         }
//     }
//     //
//     .wall {
//         .wPhone {
//             @include animation(wPhone_bottomIn $dur forwards);
//         }
//         .title {
//             @include sTitleDefault();
//         }
//     }
//     //
//     .dots {
//         .title {
//             @include sTitleDefault();
//         }
//     }
// }
