<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <title>Lading Page</title>
    <!-- css -->
    <link rel="stylesheet" href="sass/screen.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
    <script src="js/c.js"></script>
    <script src="js/block.js"></script>
</head>

<body ng-controller="Controller as c">
    <div class="floatBtn">
        <a href="#"><img src="http://placehold.it/115x40" alt="android 下載"></a>
        <a href="#"><img src="http://placehold.it/115x40" alt="IOS 下載"></a>
    </div>
    <div class="bannerBox">
        <img src="http://placehold.it/1280x800" class="firstbannerImg">
        <div class="title">
            <h1>myMusic線上音樂</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, doloremque sunt eligendi sequi ad quia nobis provident quis molestiae sit.</p>
            <a href="#">立刻下載</a>
        </div>
    </div>
    <div class="bannerBox">
        <img src="http://placehold.it/1280x800" class="bannerImg">
        <div class="title">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, doloremque sunt eligendi sequi ad quia nobis provident quis molestiae sit.</p>
        </div>
    </div>
    <div class="bottomInBox">
        <div class="classification">
            <div class="data" ng-repeat="item in c.list" ng-hide="!c.isCurrentSlideIndex($index)">
                <img src="http://placehold.it/400x600" class="person">
                <div class="title">
                    <h1>{{$index + 1}}.{{item.title}}</h1>
                    <p>{{item.detail}}</p>
                    <a href="＃">{{item.btn_text}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wall">
        <div class="wPhone">
            <img src="http://placehold.it/350x200" class="wCard" ng-if="c.wClick">
            <img src="http://placehold.it/350x200" class="wCard" ng-if="!c.wClick">
            <img src="http://placehold.it/50x50" class="wClick" ng-click="c.wClick = !c.wClick">
        </div>
        <div class="title">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, doloremque sunt eligendi sequi ad quia nobis provident quis molestiae sit.</p>
            <a href="#">立刻下載</a>
        </div>
    </div>
    <div id="footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
</body>

</html>
