@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "文鼎中圓";
  src: url('../fonts/bGTR00M.ttf?1455590188') format('truetype');
}
/* line 3, ../sass/_common.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, "文鼎中圓", "LiHei Pro", "Meiryo", "微軟正黑體";
  height: 100%;
  width: 100%;
  background: #ddd;
  letter-spacing: 2px;
}

/* line 13, ../sass/_common.scss */
a:hover {
  text-decoration: none;
}

/* line 17, ../sass/_common.scss */
.clear {
  zoom: 1;
  clear: both;
}
/* line 20, ../sass/_common.scss */
.clear:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* Left */
/* line 32, ../sass/_common.scss */
.left {
  float: left;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

/* Right */
/* line 42, ../sass/_common.scss */
.right {
  float: right;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

/* line 50, ../sass/_common.scss */
.container {
  width: 1000px;
  margin: auto;
  padding: 0;
}

/* line 56, ../sass/_common.scss */
.container2 {
  width: 100%;
}

/* line 60, ../sass/_common.scss */
.highlight {
  color: darkred;
}

/* line 64, ../sass/_common.scss */
.area1_3 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: flex-end;
}

/* line 70, ../sass/_common.scss */
.area1_2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 77, ../sass/_common.scss */
.withIcon {
  position: relative;
}

/* line 81, ../sass/_common.scss */
.icon {
  position: absolute;
}

@media screen and (max-width: 720px) {
  /* line 86, ../sass/_common.scss */
  .container {
    width: 100%;
  }
}
/* line 91, ../sass/_common.scss */
::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}

/* line 96, ../sass/_common.scss */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 101, ../sass/_common.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}

/* line 107, ../sass/_common.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

/**dynamic**/
/* line 24, ../sass/_setting.scss */
.bottomIn {
  opacity: 0;
  -moz-animation: bottomIn 2s forwards;
  -webkit-animation: bottomIn 2s forwards;
  animation: bottomIn 2s forwards;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes bottomIn {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes bottomIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bottomIn {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes topIn {
  from {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes topIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes topIn {
  from {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes Slider {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1280px 0;
  }
}
@-webkit-keyframes Slider {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1280px 0;
  }
}
@keyframes Slider {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1280px 0;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/* line 1, ../sass/_banner.scss */
.banner {
  position: relative;
}
/* line 3, ../sass/_banner.scss */
.banner .firstbannerImg {
  width: 100%;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}
/* line 7, ../sass/_banner.scss */
.banner .bannerImg {
  width: 100%;
  -moz-animation: bottomIn 2s;
  -webkit-animation: bottomIn 2s;
  animation: bottomIn 2s;
}
/* line 11, ../sass/_banner.scss */
.banner .title {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 10%;
  width: 30%;
}
/* line 17, ../sass/_banner.scss */
.banner .title h1 {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 20, ../sass/_banner.scss */
.banner .title p {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 23, ../sass/_banner.scss */
.banner .title a {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  display: block;
  border: 2px #aaa solid;
  padding: 15px 20px;
  text-align: center;
}

/* line 33, ../sass/_banner.scss */
.floatBtn {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 9;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
/* line 41, ../sass/_banner.scss */
.floatBtn img {
  border: 1px solid #aaa;
}

/* line 1, ../sass/_classification.scss */
.classification {
  position: relative;
  background: url(http://placehold.it/1280x800) center repeat-x;
  background-size: cover;
  min-height: 800px;
  height: 100%;
  -moz-animation: Slider 32s infinite linear;
  -webkit-animation: Slider 32s infinite linear;
  animation: Slider 32s infinite linear;
}
/* line 9, ../sass/_classification.scss */
.classification .data .person {
  position: absolute;
  top: 30%;
  left: 10%;
  overflow: hidden;
  opacity: 0;
  -moz-animation: bottomIn 3s forwards;
  -webkit-animation: bottomIn 3s forwards;
  animation: bottomIn 3s forwards;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
/* line 16, ../sass/_classification.scss */
.classification .data .title {
  position: absolute;
  z-index: 2;
  top: 30%;
  right: 10%;
  width: 30%;
}
/* line 22, ../sass/_classification.scss */
.classification .data .title h1 {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 25, ../sass/_classification.scss */
.classification .data .title p {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 28, ../sass/_classification.scss */
.classification .data .title a {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  display: block;
  border: 2px #aaa solid;
  padding: 15px 20px;
  text-align: center;
}

/* line 20, ../sass/screen.scss */
.wall {
  position: relative;
  background: gray;
  min-height: 800px;
  height: 100%;
}
/* line 25, ../sass/screen.scss */
.wall .wPhone {
  background: url(http://placehold.it/400x600);
  height: 600px;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 10%;
  overflow: hidden;
  -moz-animation: bottomIn 1s;
  -webkit-animation: bottomIn 1s;
  animation: bottomIn 1s;
}
/* line 32, ../sass/screen.scss */
.wall .wCard {
  border: 1px red solid;
  position: absolute;
  top: 6%;
  left: 6%;
  overflow: hidden;
}
/* line 35, ../sass/screen.scss */
.wall .wCard.ng-enter {
  opacity: 0;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 39, ../sass/screen.scss */
.wall .wCard.ng-enter.ng-enter-active {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 45, ../sass/screen.scss */
.wall .wCard.ng-leave {
  opacity: 1;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}
/* line 49, ../sass/screen.scss */
.wall .wCard.ng-leave.ng-leave-active {
  opacity: 0;
}
/* line 55, ../sass/screen.scss */
.wall .wClick {
  border: 1px yellow solid;
  position: absolute;
  top: 10%;
  left: 75%;
  overflow: hidden;
  -moz-animation: rotate 8s infinite;
  -webkit-animation: rotate 8s infinite;
  animation: rotate 8s infinite;
}
/* line 60, ../sass/screen.scss */
.wall .title {
  position: absolute;
  z-index: 2;
  top: 30%;
  right: 10%;
  width: 30%;
}
/* line 66, ../sass/screen.scss */
.wall .title h1 {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 69, ../sass/screen.scss */
.wall .title p {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 72, ../sass/screen.scss */
.wall .title a {
  margin: 10px 0;
  opacity: 0;
  -moz-animation: bottomIn 1s forwards;
  -webkit-animation: bottomIn 1s forwards;
  animation: bottomIn 1s forwards;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  display: block;
  border: 2px #aaa solid;
  padding: 15px 20px;
  text-align: center;
}

/* line 10, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 100px;
}

/* line 20, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

/* line 2, ../sass/_footer.scss */
#footer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 40px;
  background: #ddd;
  color: white;
}

/* line 83, ../sass/screen.scss */
body {
  background: white;
  overflow-x: hidden;
}

/* line 88, ../sass/screen.scss */
h1 {
  font-size: 28px;
}
